services:
    db:
        image: postgres:16
        container_name: postgres_example
        restart: always
        environment:
            POSTGRES_USER: user
            POSTGRES_PASSWORD: 1234
            POSTGRES_DB: laravel
        ports:
            - "5432:5432"

    pgadmin:
        image: dpage/pgadmin4
        container_name: pgadmin_container
        environment:
            PGADMIN_DEFAULT_EMAIL: "admin@admin.com"
            PGADMIN_DEFAULT_PASSWORD: "admin"
        ports:
            - "5050:80"
        depends_on:
            - db